{% extends "_base.html" %}

{% block title %}Your Cart{% endblock title %}

{% block content %}

<div class="mx-auto max-w-2xl">


{% if cart.number_of_items > 0 %}


              <div class="mt-8">
                  <h1 class="text-5xl font-bold text-center my-24">Your Cart</h1>
                <div class="flow-root">
                  <ul role="list" class="-my-6 divide-y divide-gray-200">

                    {% for item in cart_items %}

                    <li class="flex py-6">
                      <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                        <img src="{{ item.product.cover.get_small_image_url }}" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center">
                      </div>

                      <div class="ml-4 flex flex-1 flex-col">
                        <div>
                          <div class="flex justify-between text-base font-medium text-gray-900">
                            <h3>
                              <a href="#"> {{ item.product.name }} </a>
                            </h3>
                            <p class="ml-4">${{ item.subtotal }}</p>
                          </div>
                          <p class="mt-1 text-sm text-gray-500">{{ item.product.pretty_gender }}</p>
                        </div>
                        <div class="flex flex-1 items-end justify-between text-sm">
                          <p class="text-gray-500">Qty {{ item.count }}</p>

                        </div>
                      </div>
                    </li>

                    {% endfor %}

                  </ul>
                </div>
              </div>

            <div class="border-t border-gray-200 py-6 my-6">
              <div class="flex justify-between text-base font-medium text-gray-900">
                <p>Subtotal</p>
                <p>${{ cart.total }}</p>
              </div>
              <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
              <div class="mt-6">
                <a href="{% url 'checkout' %}" class="flex items-center justify-center rounded-md border border-transparent bg-sky-500 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-sky-600">Checkout</a>
              </div>
              <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                <p>
                  or <a href="{% url 'store' %}" class="font-medium text-sky-500 hover:text-sky-600">Continue Shopping<span aria-hidden="true"> &rarr;</span></a>
                </p>
              </div>
            </div>


{% else %}

<p class="block mx-auto text-center mt-24">Your cart is empty.</p>

{% endif %}

 </div>













































{% endblock content %}

